@{
    ViewData["Title"]="Index";
}
<h2>Person - Index</h2>
<p>This is the Index view of Person</thead></thead></p>
<h1>Dữ liệu từ Controller gửi về là: @ViewBag.infoPerson</h1>
<form asp-action="Index">

<label>Nhập PersonID</label>

<input type="text" name="PersonId">

<label>Nhập họ tên:</label>

<input type="text" name="FullName">

<label>Nhập địa chỉ:</label>

<input type="text" name="Address">

<input type="submit" value="Gửi dữ liệu">

</form>